$c-white: #fff;
$c-black: #000;
$c-green: #05fdd8;
$c-red: #fd2155;
$c-blue: #0207e0;
$c-violet: #d26cd5;

$c-bg-menu: #181818;
$c-bg-main: #1d1d1d;
$c-bg-logo: #0d0d0d;
$c-bg-exp-item: #2a2a2a;

$c-txt: #fff;
$c-title: #05fdd8;
$c-txt-grey: #ababab;
$c-hover: #05fdd8;

$c-menu-icon: #282828;
$c-menu-icon-active: #676767;
$c-menu-links: #909096;

$c-border-menu: #282828;
$c-border-skill: #ababab;
