@import '../../assets/scss/vars';

.main-page {
  font-weight: bold;
  font-size: 90px;
  line-height: 100px;

  &__row {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
}
