<section class="about-page">
  <div class="container">
    <div class="title">Something about me</div>
    <div class="about-page__text">
      Hello. My name is Vladimir. For a long time I am fond of making sites and more than a year I
      have been working as a front-end developer in a web studio. I constantly study new features,
      develop professionally and use the studied material to improve the quality of work. Attentive
      to details, quickly learn new things, take responsibility for work. In my spare time I can go
      to the cinema or sit in a company of friends, or twist pedals around Kiev and the region,
      well, or just relax in some favorite computer game.
    </div>
    <div class="about-page__img">
      <img src="../../../../assets/images/page-about-bg.png" alt="penguin">
    </div>
  </div>
</section>
