<section class="about-page">
  <div class="container">
    <div class="title">About me</div>
    <div class="about-page__text">
      Hello. My name is Vladimir.
      I have total work experience over 5 years.
      I worked as a html-coder for several years. During this time, I have made up more than a dozen sites.
      Then I moved to Front-end development, and starting work with projects based on Angular 2+.
      I've been working with Angular for almost 3 years. Worked both on large projects (admin panels, crm-systems, analytics)
      and over small sites (business cards, landing pages, small portals) based on Angular.
    </div>
    <div class="about-page__img">
      <img src="../../../../assets/images/page-about-bg.png" alt="penguin">
    </div>
  </div>
</section>
